<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Fecha de nacimiento</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.username }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.birthdate }}</td>
      <td>
        <a> Modificar </a>
        <!-- <a (click)="removeData(id)"> Borrar</a> -->
      </td>
    </tr>
  </tbody>
</nz-table>
