<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Fecha de nacimiento</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ data.username }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phone }}</td>
      <td>{{ data.birthdate }}</td>
      <td>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          [routerLink]="['/edituser', data.id]"
        >
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </button>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          (click)="deleteUser(data.id, i)"
          onclick="window.location.href = '/userstbl'"
        >
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
