<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.username }}</td>
      <td>{{ data.firstname }}</td>
      <td>{{ data.lastname }}</td>
      <td>
        <a>Action 一 {{ data.name }}</a>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<ul>
  <li *ngFor="let item of data">
    {{ item.name }}
  </li>
</ul>
