<form nz-form>
  <!-- PRODUCTNOMBRE -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="productname"
      >Nombre del producto</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un nombre válido"
    >
      <input nz-input [(ngModel)]="product.productname" name="productname" />
    </nz-form-control>
  </nz-form-item>

  <!-- DESCRIPTION -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description"
      >Descripción</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un apellido válido"
    >
      <input nz-input [(ngModel)]="product.description" name="description" />
    </nz-form-control>
  </nz-form-item>

  <!-- CREATIONDATE -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
      >Fecha de creación</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce una fecha de nacimiento valida"
    >
      <nz-date-picker
        [(ngModel)]="product.creationdate"
        name="creationdate"
        ngDefaultControl
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <!-- SUBIR IMAGEN -->
  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="image"
    >Subir imagen del producto:</nz-form-label
  >
  <br />
  <nz-upload [nzBeforeUpload]="beforeUpload">
    <button nz-button>
      <i nz-icon nzType="upload"></i>
      Click to Upload
    </button>
  </nz-upload>

  <!-- BOTON -->
  <button
    nz-button
    nztype="primary"
    class="ant-btn ant-btn-primary ant-btn-lg"
    (click)="procesar()"
  >
    <span class="ng-star-inserted">Enviar</span>
  </button>
</form>
