<form nz-form (ngSubmit)="procesar()" #formContact="ngForm">
  <!-- NOMBRE -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
      >Nombre</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un nombre válido"
    >
      <input nz-input [(ngModel)]="persona.firstname" name="firstname" />
    </nz-form-control>
  </nz-form-item>

  <!-- APELLIDO -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastname"
      >Apellido</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un apellido válido"
    >
      <input nz-input [(ngModel)]="persona.lastname" name="lastname" />
    </nz-form-control>
  </nz-form-item>

  <!-- USUARIO -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username"
      >Usuario</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un usuario válido"
    >
      <input nz-input [(ngModel)]="persona.username" name="username" />
    </nz-form-control>
  </nz-form-item>

  <!-- CONTRASEÑA -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password"
      >Contraseña</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce una contraseña válida"
    >
      <input nz-input [(ngModel)]="persona.password" name="password" />
    </nz-form-control>
  </nz-form-item>

  <!-- EMAIL -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
      >Email</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un email válido"
    >
      <input nz-input [(ngModel)]="persona.email" name="email" />
    </nz-form-control>
  </nz-form-item>

  <!-- TELEFONO -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired
      >Número de teléfono</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce tu número de teléfono"
    >
      <ng-template #addOnBeforeTemplate>
        <nz-select formControlName="phoneNumberPrefix" class="phone-select">
          <nz-option nzLabel="+34" nzValue="+34"></nz-option>
          <nz-option nzLabel="+87" nzValue="+87"></nz-option>
        </nz-select>
      </ng-template>
      <input nz-input [(ngModel)]="persona.phone" name="phone" />
    </nz-form-control>
  </nz-form-item>

  <!-- FECHA DE NACIMIENTO -->
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthdate"
      >Fecha de nacimiento</nz-form-label
    >
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce una fecha de nacimiento valida"
    >
      <nz-date-picker
        [(ngModel)]="persona.birthdate"
        name="birthdate"
      ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <!-- GRUPO -->
  <nz-form-item>
       
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="groupIds"
      >Añadir a un grupo</nz-form-label
    >

       
    <nz-form-control
      [nzSm]="14"
      [nzXs]="24"
      nzErrorTip="Introduce un grupo válido"
    >
           <nz-select
        nzSize="large"
        nzMode="multiple"
        nzPlaceHolder="Selecciona el/los grupos deseados"
        [(ngModel)]="groupIds"
        name="group"
      >
           
        <nz-option
          *ngFor="let group of listOfGroups"
          [nzValue]="group.id"
          [nzLabel]="group.name ? group.name.toString() : ''"
        ></nz-option>

         
      </nz-select>

         
    </nz-form-control>

     
  </nz-form-item>

  <!-- BOTON -->
  <button
    nz-button=""
    nztype="primary"
    class="ant-btn ant-btn-primary ant-btn-lg"
    ng-click="procesar()"
    [disabled]="formContact.invalid"
  >
    <span class="ng-star-inserted">Enviar</span>
  </button>
</form>
